:root {
    --color-title: #2E2F42;         /* NAVY BLUE */
    --color-text: #434455;          /* SLATE*/
    --color-corporative: #4D5AE5;   /* IRIS */
    --color-footer: #E7E9FC;        /* CORNFLOWER */
    --color-inverted: #FFFFFF;
}

body {
    font-family: 'roboto';
}

ul{
    list-style-type: none;
}

.header-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: var(--color-title);
}

.header-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
    color: var(--color-text);
}

.hero{
    background-color: var(--color-title);
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    color: var(--color-inverted);
}

.button {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-inverted);
    background: var(--color-corporative);
    border-radius: 4px;
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--color-title);
    text-transform: capitalize;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-title);
}

.regular-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);    
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-footer);
}